/*Geral---------------*/
body{
    background-color: white;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
/*Header--------------*/
header{
    width:100vw;
    height:9vw;
    display:inline-flex;
    justify-content: space-between;
    background:linear-gradient(to right, red, red, red, red, rgb(0, 102, 178), rgb(0, 102, 178), rgb(0, 102, 178), rgb(0, 102, 178));
}
.anav > .botaotime{
    padding-left:0.5vw;
    padding-right:0.5vw;
    width:9vw;
    height:9vw;
}
.anav > .botaotime:hover{
    transform: scale(1.03);
    transition:200ms;
}
/*Main--------------*/
/*topo*/
.topo{
    display: inline-flex;
    justify-content: space-between;
    width:100vw;
    height:8vw;
}
.redeso{
    width:16vw;
    height:6vw;
    display:inline-flex;
    justify-content:space-around;
    margin-left:3vw;
}
.amain > .botaorede{
    width:4vw;
    height:4vw;
    margin-top:1vw;
}
.amain > .botaorede:hover{
    transform: scale(1.03);
    transition:200ms;
    opacity:0.9;
}
.amain{
    text-decoration:none;
}
h1{
    color:black;
    font-size:3.3vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:1vw;
    text-align: center;
}
h1:hover{
    opacity:0.7;
}
.divpesquisar{
    display:inline-flex;
    margin-top:1vw;
    margin-right:4vw;
}
#pesquisar{
    width:30vw;
    height:3.5vw;
    border-radius: 30px;
    border:none;
    font-size: 1.5vw;
    margin-right:-3.35vw;
    padding-left:1vw;
    padding-right:3.3vw;
    background-color:rgb(241, 241, 241);
}
#pesquisar:hover{
    transition:200ms;
    opacity:0.99;
}
.lupabotao{
    margin-top:0.25vw;
    width:3.25vw;
    height:3.25vw;
    border-radius:50%;
    border:none;
    z-index:999;
    background-image:URL(img/pesquisa.png);
    background-repeat:no-repeat;
    background-size:3.25vw;
}
.lupabotao:hover{
    transform:scale(0.99);
    transition:200ms;
    opacity:0.99;
}
/*noticias*/
.noticias{
    width:92vw;
    height:auto;
    margin-left:4vw;
    margin-right:4vw;
}
.linhano{
    width:92vw;
    height:auto;
    display:inline-flex;
    justify-content: space-between;
    margin-bottom:6vw;
}
.not{
    width:28vw;
    height:15vw;
    position:relative;
}
.amain > .notimgint{
    width:28vw;
    height:auto;
    box-shadow:0.3vw 0.3vw rgb(255, 0, 0);
}
.amain > .notimgint:hover{
    transform:scale(1.008);
    transition:200ms;
}
.amain > .notimggre{
    width:28vw;
    height:15vw;
    box-shadow:0.3vw 0.3vw rgb(0, 102, 178);
}
.amain > .notimggre:hover{
    transform:scale(1.008);
    transition:200ms;
}
.amain > .notbotao{
    width:3vw;
    height:auto;
    position:absolute;
    left:0.1vw;
    top:0.1vw;
    opacity:0.85;
}
.amain > .notbotao:hover{
    transition:200ms;
    opacity:1;
}
.text{
    text-align:center;
    font-size:1.5vw;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    bottom:0;
    left:0;
    padding-left:0.5vw;
    padding-right:0.5vw;
}
.text:hover{
    opacity:0.8;
    transition:200ms;
}
.cont{
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.8vw;
    font-size: 1.5vw;
    text-align: justify;
    text-transform: none;
    color: #292929;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vw;
}
#coudet{
    width: 40vw;
    height: auto;
    padding-left: 25vw;
}
/*footer*/
footer{
    width:100vw;
    height:8vw;
    background-color: rgb(27, 27, 27);
}
.rodape{
    width:90vw;
    height:6vw;
    margin-left:5vw;
    display:inline-flex;
    justify-content:space-around;
}
.afoot{
    text-decoration:none;
}
.afoot > .linkfoot{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:2.5vw;
    margin-top:2.75vw;
}
.afoot > .linkfoot:hover{
    opacity: 0.8;
}
.divfoot{
    color:white;
    opacity:0.7;
    width:1px;
    height:2.5vw;
    margin-top:2.75vw;
}